body {
    background-color: #fafefc;
}
.right {
	float: right;
}
.page-header {
	font-size: 36px;
}

.btn-primary {
	width: 40%;
	max-width: 410px;
	font-size: 26px;
}

@media (max-width: 720px) {
	.btn-primary {
		min-width: 320px;
	}
}
.lang-select {
	padding: 0 24px;
}

#gameContainer {
	float:left;
}

@media (max-height: 610px) {
	#gameContainer, #gameDetails {
		float:left;
		transform: scale(0.80);
		margin-top: -5%;
	}
	#gameDetails {
		margin-left: -60px;
	}
}
@media (max-height: 540px) {
	#gameContainer, #gameDetails {
		float:left;
		transform: scale(0.70);
		margin-top: -7%;
	}
	#gameDetails {
		margin-left: -120px;
	}
}
#canvas {
	border: black 1px solid; 
}
#gameDetails{  
	float:left;
}

#allContainer{
	width:1200px;
	margin-right: auto;
	margin-left: auto;
}


#resetButton{
    width: 100px;
    //margin-left: 50px;  
}