body {
    	background-color: #fafefc;
}

.btn-primary {
	width: 50%;
	font-size: -webkit-xxx-large;
}

.page-header {
	font-size: -webkit-xxx-large;
}

#gameContainer {
        float: left;
}

#canvas {
	border: black 1px solid;
}

#gameDetails{
	 float: left;
}

#allContainer{
	width:1200px;
	margin-right: auto;
	margin-left: auto;
}

#resetButton{
    	width: 100px;
}
