.btn-primary {
	width: 50%;
	font-size: -webkit-xxx-large;
}

.page-header {
	font-size: -webkit-xxx-large;
}

#gameContainer {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

#canvas {
	border: black 1px solid;
	width: 55%;
	height: 55%;
}